body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
	/* TODO Solve this in HTML */
}




@media all and (max-width: 640px) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#header {
	position: absolute;
	top: 200px;
	text-decoration: solid;
	color: rgb(250, 250, 250);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 70px;
	margin-left: 80px;
	z-index: 1;

}
#header1 {
	position: absolute;
	top: 300px;
	text-decoration: solid;
	color: rgb(250, 250, 250);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 30px;
	margin-left: 250px;
	z-index: 1;

}
.container{

	position: absolute;
	width: 100%;
	height: 100vh;
	display: grid;
	place-content: center;
}
.content{
	display: flex;
	gap:5em;
	width: 100%;
	padding-top: 3em;
	position: relative;
}
.content:before{
	content:"";
	position: absolute;
	top: 0;
	left :0;
	width:100%;
	border-bottom: 1px solid white;
    transform:scaleX(1);

}
h1{
	font-size: 4rem;
	width: 50vw;
	line-height: 97%;
	text-align: right;
}

h1,p{
	flex-basis: 0;
	flex-grow: 1;
	clip-path: polygon(0 0 ,100% 0, 100% 0,0 0);
}

p{
font-size: 1.3rem;
width: 40vw;
}